<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="compilationRequest">
            <h2><span>Compilation Request</span> {{ compilationRequest.id }}</h2>

            <hr>

            <gha-alert-error></gha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ compilationRequest.description }}</span>
                </dd>
                <dt><span>File Upload Id</span></dt>
                <dd>
                    <span>{{ compilationRequest.fileUploadId }}</span>
                </dd>
                <dt><span>Compilation Status</span></dt>
                <dd>
                    <span>{{ compilationRequest.compilationStatus }}</span>
                </dd>
                <dt><span>Compilation Type</span></dt>
                <dd>
                    <span>{{ compilationRequest.compilationType }}</span>
                </dd>
                <dt><span>Compilation Token</span></dt>
                <dd>
                    <span>{{ compilationRequest.compilationToken }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/compilation-request', compilationRequest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
