<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="prepaymentEntry">
            <h2><span>Prepayment Entry</span> {{ prepaymentEntry.id }}</h2>

            <hr>

            <gha-alert-error></gha-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Account Name</span></dt>
                <dd>
                    <span>{{ prepaymentEntry.accountName }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ prepaymentEntry.description }}</span>
                </dd>
                <dt><span>Account Number</span></dt>
                <dd>
                    <span>{{ prepaymentEntry.accountNumber }}</span>
                </dd>
                <dt><span>Prepayment Number</span></dt>
                <dd>
                    <span>{{ prepaymentEntry.prepaymentNumber }}</span>
                </dd>
                <dt><span>Prepayment Date</span></dt>
                <dd>
                    <span>{{ prepaymentEntry.prepaymentDate }}</span>
                </dd>
                <dt><span>Transaction Amount</span></dt>
                <dd>
                    <span>{{ prepaymentEntry.transactionAmount }}</span>
                </dd>
                <dt><span>Upload Token</span></dt>
                <dd>
                    <span>{{ prepaymentEntry.uploadToken }}</span>
                </dd>
                <dt><span>Prepayment Data Id</span></dt>
                <dd>
                    <span>{{ prepaymentEntry.prepaymentDataId }}</span>
                </dd>
                <dt><span>Compilation Token</span></dt>
                <dd>
                    <span>{{ prepaymentEntry.compilationToken }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prepayment-entry', prepaymentEntry.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
